.blue-background {
  background-color: #178ACC;
}

.text{
  color: white;
}

.login{
  display: flex;
  justify-content: center;
  align-items: center;
}

.c1{
  width: 500px;
  line-height: 30px;
}

.errors{
  color: red;
}

.center-text{
  text-align: center;

}

.text-left{
  text-align: left;
}

.right-text{
  text-align: right;
}

.text-size{
  font-size:16px;}
