{% extends "base.html" %}

{% block styles %}
  {{ block.super }}
{% endblock styles %}

{% block scripts %}
  {{ block.super }}
{% endblock scripts %}

{% block content %}
<!-- Form login -->
<div class="container login">
  <div class="card  ml-0 p1 c1">
    <div class="col-md-12 margen-bottom animated fadeIn">
      <p class="text-danger errors">
        {% if form.errors %}
          Your username and/or password is not correct.
        {% endif %}
      </p>
    </div>

    <form method="POST" action="{% url 'login' %}">
      <p class="center-text">Sign in</p>
      {% csrf_token %}
      {{ form.username.label_tag }}
      {{ form.username }}
      <br></br>

      {{ form.password.label_tag }}
      {{ form.password }}

      <br></br>

      <button type="submit" class="btn btn-default">Login</button>
      <a class="btn btn-default" href="{% url 'signup' %}">Register</a>

    </form>
  </div>
</div>
<!-- Form login -->
{% endblock content %}
