{% extends "base.html" %}


{% block styles %}
  {{ block.super }}
{% endblock styles %}

{% block scripts %}
  {{ block.super }}
{% endblock scripts %}

{% block content %}
<div class="container">
  <!--Panel-->
  <div class="card p-2">
    <div class="card-header blue-background text center-text">
      <p class="title"> Logout successful </p>
    </div>
    <div class="card-body Poitext">
      Thanks for using our app. If you want to continue using it just press Login.
      <div class="flex-row text-right">
        <a class="btn btn-default waves-effect waves-light" href="{% url 'login' %}" role="button">Login</a>
      </div>
    </div>
  </div>
  <!--/.Panel-->
</div>
<!-- Form login -->
{% endblock content %}
