{% extends 'base.html' %}


{% block styles %}
  {{ block.super }}
{% endblock styles %}

{% block scripts %}
  {{ block.super }}
{% endblock scripts %}


{% block content %}

<div class="container">
  <div class="card p-2">
    <div class="card-header blue-background text center-text">
      <p class="title"> Sign UP </p>
    </div>
    <div class="card-body">
      <form method="post">
        {% csrf_token %}
        {% for field in form %}

            <p class="Poitext1">{{ field.label_tag }}<p>
            <p class="Poitext">{{ field }}</p>

            {% for error in field.errors %}
              <p class="errors">{{ error }}</p>
            {% endfor %}

          </p>
        {% endfor %}
        <button type="submit" class="btn btn-default">Sign up</button>
        <a href="{% url 'login' %}" class="btn btn-default waves-effect waves-light">Back</a>
      </form>
    </div>
  </div>
</div>
{% endblock content%}
