{% extends "base.html" %}

{% block styles %}
  {{ block.super }}
{% endblock styles %}

{% block scripts %}
  {{ block.super }}
{% endblock scripts %}

{% block content %}

<div class="container">
  <p class="title1">{{ task.name }}</p>
  <!--Card-->
  <div class="card">
      <!--Card content-->
      <div class="card-body">
          <!--Text-->
          <p class="card-title">State:</p> <p class="Poitext"> {{ task.get_state_display }}</p>

          <p class="card-title">Date:</p> <p class="Poitext"> {{ task.date }}</p>

          <p class="card-title">Descriptions:</p> <p class="Poitext"> {{ task.descriptions }}</p>

          <p class="card-title">Expired:</p> <p class="Poitext"> {{ task.expired }}</p>

          {% if task.file %}
          <p class="card-title">File:</p> <p class="Poitext"> <a href="{{ task.file.url }}"> {{ task.file }} </a></p>
          {% endif %}

          <a href="{% url 'tasks' %}" class="btn btn-default waves-effect waves-light">Back</a>
      </div>

  </div>
</div>
<!--/.Card-->

{% endblock content %}
